.banner{
    background-image: url('https://cdn.shopify.com/s/files/1/0016/5412/8710/files/slider1-elomus1-1920x900_1920x900.progressive.jpg?v=1533173150');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}